<table>
    {% for book in bookList %}
        <tr>
            <td>{{ book.title }}</td>
            <td>{{ book.author }}</td>
            <td>{{ book.isbn }}</td>
            <td>{{ book.price }}</td>
            <td>{{ book.genre }}</td>
            <td>{{ book.yearPublished }}</td>
            <td>
                <a href="{{ path('book_edit', {'id':book.id}) }}">Edytuj</a>
            </td>
        </tr>
    {% endfor %}
</table>